<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-06-19T05:42:38Z</date>
	<key>WorkspacePath</key>
	<string>/Users/blitz/dev/SwiftTest/AutoUnitTest3/AutoUnitTest3.xcodeproj</string>
</dict>
</plist>
